<h2 class="text-left">About</h2>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-success">application about page</p>
    </div>
  </div>
</div>
