<h2 class="text-left">Contact</h2>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-success">Applications Contact details</p>
    </div>
  </div>
</div>
